/* stili generali per applicazione */

body{
    background-color: #fff; 
	  

    #nuova_autenticazione{
        
        
        /* componente login_form */
        #react_component{
          
            .login {
              padding: 6% 0;
            }
          
            .login form {
              margin: 0 auto;
              max-width: 320px;
              background-color: #fff;
              padding: 25px;
              z-index: 100;
              opacity: 1;
            }
          
        }
        
    }

    
}